@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-primary: 'Manrope', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #FF9324;
}


@layer base {
    html {
        font-family: var(--font-primary);
        scroll-behavior: smooth;
    }

    body {
        background-color: #fcfbfc;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.4s ease-out forwards;
}